.bestsellers__content-gallery {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 140px;
}
.bestsellers__content-gallery-item {
  width: 552px;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.bestsellers__content-gallery-item::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.bestsellers__content-gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.bestsellers__content-gallery-item input[type=checkbox]:checked~ .bestsellers__content-gallery-item-options label .favorite svg path{
  fill: #242424;
}
.bestsellers__content-gallery-item-sale {
  position: absolute;
  top: 24px;
  left: 24px;
  background: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 41px 16px;
}
.bestsellers__content-gallery-item-sale span {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #f9f8f4;
}
.bestsellers__content-gallery-item-options {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.korzina,
.favorite {
  background: #f9f8f4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 18px;
  cursor: pointer;
}
.favorite .bestsellers__content-gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.bestsellers__content-gallery-item-info {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
}

.bestsellers__content-gallery-item-info h4 {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #f9f8f4;
  margin-bottom: 20px;
}
.bestsellers__content-gallery-item-info p {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #f9f8f4;
  margin-bottom: 10px;
}
.bestsellers__content-gallery-item-info span {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #f9f8f4;
  margin-top: 30px;
  margin-bottom: 20px;
}
.bestsellers__content-gallery-item-info button {
  background: #f9f8f4;
  padding: 26px 81px 27px;
  font-weight: 400;
  font-size: 24px;
  color: #242424;
  cursor: pointer;
  transition: 0.5s;
}
.bestsellers__content-gallery-item-info button:hover {
  background: #242424;
  color: #f9f8f4;
}
