.footer {
  border-top: 1px solid #242424;
  padding: 137px 108px;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__links {
  display: flex;
  align-items: center;
  gap: 236px;
}
.footer__link {
  font-weight: 400;
  font-size: 24px;
  color: #242424;
  position: relative;
  padding-bottom: 4px;
  transition: 0.5s;
}
.footer__link::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #242424;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: center;
}
.footer__link:hover::before {
  transform: scaleX(1);
}
.footer__follow {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__follow p {
  font-weight: 400;
  font-size: 24px;
  line-height: 90%;
  color: #242424;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 49px;
}
.footer__social-link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}
.footer__social-link:hover {
  background: #242424;
}
.footer__social-link:hover svg path {
  fill: #f9f8f4;
}
