.shop {
  margin-bottom: 140px;
}
.shop__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.shop__content-gallery {
  display: flex;
  align-items: center;
  gap: 24px;
}
.shop__content-gallery-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.shop__content-gallery-item {
  overflow: hidden;
  position: relative;
}
.shop__content-gallery-item::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.shop__content-gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
}
.shop__content-gallery-item-info {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 2;
}
.shop__content-gallery-item-info h4 {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #f9f8f4;
  margin-bottom: 20px;
}
.shop__content-gallery-item-info p,
.shop__content-gallery-item-info p:nth-of-type(2) {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #f9f8f4;
  margin-bottom: 10px;
}
.shop__content-gallery-item-info span {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #f9f8f4;
  margin-top: 30px;
  display: block;
}
.shop__content-gallery-sale {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 17px 41px 16px 40px;
  background: #242424;
}
.shop__content-gallery-sale span {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #f9f8f4;
}
.shop__content-gallery-right .shop__content-gallery-item {
  width: 840px;
  overflow: hidden;
  height: 824px;
}
